#################################
# TERRAFORM
#################################

# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
*.tfvars


# Crash logs
crash.log

#################################
# ENV / SECRETS
#################################

.env
.env.*

# Private keys / certs
*.pem
*.key

#################################
# DOCKER
#################################

# Local Docker artifacts
*.tar
*.log

#################################
# PYTHON (if your backend is Python)
#################################

__pycache__/
*.pyc
*.pyo
venv/
env/

#################################
# IDE / OS
#################################

.vscode/
.idea/
.DS_Store
Thumbs.db

